{% extends "brain_viewer.html" %}

{% block HTMLtitle %}
<title>Component : {{selected_component.filename}}</title>
{% endblock %}


{% block title %}
<h2 class = "title_banner">{{selected_component.filename}}</h2>
{% endblock %}

{% block content %}

<div class="body_content" style="margin-top:30px">
  <ul class="nav nav-tabs" role="tablist">
    <li role = "presentation" class="active"><a href="#movies" data-toggle="tab">movies</a></li>
    <li role = "presentation"><a href="#terms" data-toggle="tab">terms</a></li>
    <li><a href="#">details</a></li>
  </ul>
  <div class="tab-content">
    <table role="tabpanel" id="movies" class="body_text tab-pane fade active in">
      <tr>
        <th style="width:50vw">title</th>
        <th style="width:25vw">contributor</th>
      </tr>
      <tr>
        <td><a href="/movies/{{selected_component.movie}}">{{selected_component.movie}}</a></td>
        <td><a href="/terms/{{selected_component.term}}">{{selected_component.term}}</a></td>
      </tr>
    </table>
    <table role="tabpanel" id="terms" class="body_text tab-pane fade in">
      <tr>
        <th style="width:50vw">title</th>
        <th style="width:25vw">correlation</th>
      </tr>
      {% for term in terms %}
      <tr>
        <td><a href="/terms/{{term[0]}}">{{term[0]}}</a></td>
        <td>{{term[1]}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock %}

{% block load_image %}
<script type="text/javascript">
  jQuery(document).ready(function() {
  viewer = new Viewer('#layer_list', '.layer_settings');
  viewer.addView('#view_axial', Viewer.AXIAL);
  viewer.addView('#view_coronal', Viewer.CORONAL);
  viewer.addView('#view_sagittal', Viewer.SAGITTAL);
  viewer.addSlider('opacity', '.slider#opacity', 'horizontal', 0, 1, 1, 0.05);
  viewer.addSlider('pos-threshold', '.slider#pos-threshold', 'horizontal', 0, 1, 0, 0.01);
  viewer.addSlider('neg-threshold', '.slider#neg-threshold', 'horizontal', 0, 1, 0, 0.01);
  viewer.addSlider("nav-xaxis", ".slider#nav-xaxis", "horizontal", 0, 1, 0.5, 0.01, Viewer.XAXIS);
  viewer.addSlider("nav-yaxis", ".slider#nav-yaxis", "vertical", 0, 1, 0.5, 0.01, Viewer.YAXIS);
  viewer.addSlider("nav-zaxis", ".slider#nav-zaxis", "vertical", 0, 1, 0.5, 0.01, Viewer.ZAXIS);

  viewer.addColorSelect('#select_color');
  viewer.addSignSelect('#select_sign')
  viewer.addDataField('voxelValue', '#data_current_value')
  viewer.addDataField('currentCoords', '#data_current_coords')
  viewer.addTextField('image-intent', '#image_intent')
  viewer.clear()   // Paint canvas background while images load
  images = [
    {
      'url': "{{ url_for('load_component',movie_name = selected_component.movie, file_name = selected_component.filename) }}",
      'name': 'MNI152 2mm',
      'colorPalette': 'yellow',
      'cache': false,
      'intent': 'Intensity:'
    },
    { 
      'name': 'spherical ROI',
      'colorPalette': 'yellow',
      'data': {
        'dims': [91, 109, 91],
        'peaks': [
          {
            'x': -48,
            'y': 20,
            'z': 20, 
            'r': 6, 
            'value': 1
          }
        ]
      }
    }
  ]
  viewer.loadImages(images);

});
</script>
{% endblock %}