# Heroku environment
gunicorn==19.3.0
psycopg2==2.5.4

# Flask Framework
Flask==0.10.1

# Flask Packages
Flask-Migrate==1.4.0
Flask-SQLAlchemy==2.0
Flask-User==0.6.6
Flask-WTF==0.12
Flask-Login==0.2.9

# Neurosynth
matplotlib
neurosynth
nibabel
nilearn
nipype
numpy>=1.8
opbeat
pandas
simplejson
cffi
celery
redis

# Development tools
pytest
pytest-flask
pytest-cov
selenium