{% extends "layout.html" %}  

{% block HTMLtitle %}
<title>Terms : Internet Neurocinematics Database</title>
{% endblock %}

{% block content %}

<div class="blank_banner" style="padding-bottom:40px">
	<h1 class="title_banner">Terms</h1>
	<form class="form-inline" style="text-align:center;margin-top:30px">
		<div class="form-group">
			<div class="input-group">
				<input type="text" class="form-control input-lg" id="formGroupInputLarge" placeholder="Search for a specific term (e.g : happy)" style="width:50vw">
			</div>
		</div>
		<button type="button" class="btn btn-primary btn-lg">search</button>
		<div style="display:inline-block;margin-left:20px">
			<p class = "sub_banner" style="display:inline;margin-right:10px">Display:</p>
			<select class="form-control">
				<option>10 entries</option>
				<option>25 entries</option>
				<option>50 entries</option>
				<option>100 entries</option>
			</select>
		</div>
	</form>
</div>
<div class="body_content" style="height:60vh">
	<h2 class="title_body">all terms</h2>
	<hr>
	<table class="body_text" style="margin-top:30px">
		<tr>
			<th style="width:75vw">title</th>
		</tr>
		{% for term in terms %}
		<tr>
			<td><a href="{{term.term}}">{{ term.term }}</a></td>
		</tr>
		{% endfor %}
	</table>
</div>
</div>

{% endblock %}