{% macro render_pagination(pagination, endpoint) %}
  {% if pagination.pages > 1 %}
  <nav>
  <ul class=pagination>
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <li><a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a></li>
      {% else %}
        <li class=active><a href="#">{{ page }}</a></li>
      {% endif %}
    {% else %}
      <li class=disabled><a href="#">…</a></li>
    {% endif %}
  {%- endfor %}
  </ul>
  </nav>
  {% endif %}
{% endmacro %}

{% macro render_movie_pagination(pagination, endpoint, selected_movie) %}
  {% if pagination.pages > 1 %}
  <nav>
  <ul class=pagination>
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <li><a href="{{ url_for(endpoint, page=page, selected_movie=selected_movie) }}">{{ page }}</a></li>
      {% else %}
        <li class=active><a href="#">{{ page }}</a></li>
      {% endif %}
    {% else %}
      <li class=disabled><a href="#">…</a></li>
    {% endif %}
  {%- endfor %}
  </ul>
  </nav>
  {% endif %}
{% endmacro %}