{% extends "common/page_base.html" %} 

{% block HTMLtitle %}
<title>Movies | Internet Neurocinematics Database</title>
{% endblock %}

{% block content %}

<div class="jumbotron">
	<div class="container">

		<h2>Movies</h2>

		<form action="{{ url_for('movies.search') }}" method="GET" enctype="multipart/form-data">
			<div class="input-group">
				<input type="text" class="form-control input-lg" name="movie" placeholder="Search for movie name (e.g: The Avengers)" required>
				<span class="input-group-btn">
	      	<button class="btn btn-primary btn-lg" type="submit">Search</button>
	      </span>
			</div>
		</form>

	</div>

</div>

<div class="container body_container">

	{% if movies|length > 1 %}
	<h2>We have found {{movies|length}} movies that matches your search.</h2>
	{% else %}
	<h2>We have found {{movies|length}} movie that matches your search.</h2>
	{% endif %}
	<hr>

	<table class="table">
		<thead>
		<tr>
			<th>title</th>
		</tr>
		</thead>
		<tbody>
		{% for movie in movies %}
		<tr>
			<td><a href="{{movie.movie}}">{{ movie.movie }}</a></td>
		</tr>
		{% endfor %}
		</tbody>
	</table>

</div>

{% endblock %}