{% extends "brain_viewer.html" %} 

{% block HTMLtitle %}
<title>{{selected_term}} | Term </title>
{% endblock %}

{% block title %}
<h2 class = "title_banner">{{selected_term}} </h2>
{% endblock %}
{% block content %}

<div class="container body_container">

	<h2>Term: {{selected_term}} ({{ components|length }}) </h2>

	<table class="table">
		<thead>
		<tr>
			<th>name</th>
		</tr>
		</thead>
		<tbody>
		{% for component in components %}
		<tr>
			<td><a href="/component/{{component.uuid}}">{{ component.filename }}</a></td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	
</div>

{% endblock %}
