{% extends "common/brain_viewer.html" %} 

{% block HTMLtitle %}
<title>{{selected_term}} | Term </title>
{% endblock %}

{% block title %}
<h2 class = "title_banner">{{selected_term}} </h2>
{% endblock %}
{% block content %}

<div class="container body_container">

	<h3>Components</h3>
	<hr>

	<table class="table">
		<thead>
		<tr>
			<th>name</th>
		</tr>
		</thead>
		<tbody>
		{% for component in components.items %}
		<tr>
			<td><a href="/component/{{component.uuid}}">{{ component.filename }}</a></td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	{% from "common/pagination.html" import render_movie_term_pagination %}
	{{ render_movie_term_pagination(components, 'movies.select_movie_term', selected_term=selected_term, selected_movie=selected_movie) }}
</div>

{% endblock %}
