{% extends "common/page_base.html" %}

{% block HTMLtitle %}
<title>{{selected_movie}} | Movie </title>
{% endblock %}

{% block title %}
<h2 class = "title_banner">{{selected_movie}} </h2>
{% endblock %}

{% block content %}

<div class="container body_container">

	<ul class="nav nav-tabs" role="tablist">
		<li role = "presentation" class="active"><a href="#terms" data-toggle="tab">terms</a></li>
		<li role = "presentation"><a href="#components" data-toggle="tab">components</a></li>
		<li role = "presentation"><a href="#details" data-toggle="tab">details</a></li>
	</ul>

	<div class="tab-content">

		<div role="tabpanel" id="terms" class="tab-pane fade active in">
			<table class="table">
				<thead>
				<tr>
					<th>terms</th>
					<th>correlation</th>
				</tr>
				</thead>
				<tbody>
				{% for term in terms %}
				<tr>
					<td><a href="/movies/{{selected_movie}}/{{term.term}}">{{ term.term }}</a></td>
					<td></td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>

		<div role="tabpanel" id="components" class="tab-pane fade in">
			<table class="table">
				<thead>
				<tr>
					<th>name</th>
				</tr>
				</thead>
				<tbody>
				{% for component in components %}
				<tr>
					<td><a href="/component/{{component.uuid}}">{{ component.filename }}</a></td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>

		<div role="tabpanel" id="details" class="tab-pane fade in">
		</div>

	</div><!-- tab-content -->
	
</div>

{% endblock %}