{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}

{% block content %}

<h1>My Collections</h1>

<table class="table table-bordered table-hover">
	<thead>
	<tr>
		<th>Name of Collection</th>
		<th>Movie</th>
		<th>Number of Components</th>
		<th>Description</th>
	</thead>
	<tbody>
	{% for collection in collections %}
	<tr>
		<td>
			<a href='{{ url_for('contribute.collection', collection_name=collection.name) }}'>{{ collection.name }}</a>
		</td>
		<td>
			{{ collection.movie_name }}
		</td>
		<td>
		</td>
		<td>
			{{ collection.description }}
		</td>
	</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}