{% extends "common/page_base.html" %}

{% block HTMLtitle %}
<title>My Collections | Internet Neurocinematics Database</title>
{% endblock %}

{% block content %}

<div class="container body_container">

	<h1>my collections</h1>
	<hr>

	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>name of collection</th>
				<th>movie</th>
				<th>decoded?</th>
			</tr>
		</thead>
		<tbody>
		{% if collections.count() > 0 %}
		{% for collection in collections %}
		<tr>
			<td>
				<a href='{{ url_for('contribute.collection', collection_name=collection.name) }}'>{{ collection.name }}</a>
			</td>
			<td>
				{% if collection.decoded %}
				<a href='/movies/{{ collection.movie_name }}'>{{ collection.movie_name }}</a>
				{% else %}
				{{ collection.movie_name }}
				{% endif %}
			</td>
			<td>
				{{ collection.decoded }}
			</td>
		</tr>
		{% endfor %}
		{% else %}
		<tr>
			<td colspan="3">No collection uploaded</td>
		</tr>
		{% endif %}
		</tbody>
	</table>

</div>

{% endblock %}