{% extends "common/page_base.html" %} 

{% block HTMLtitle %}
<title>{{ collection.name }} | Internet Neurocinematics Database</title>
{% endblock %}

{% block content %}

<div class="container body_container">

	<h1>{{ collection.name }} <br> <small> Contributed by {{ user.first_name + ' ' + user.last_name }} </small></h1>

	<hr>

	<table class="table table-bordered table-hover">

		<thead>
			<tr>
				<th>Name</th>
				<th>Last Modified Time</th>
			</tr>
		</thead>

		<tbody>
		{% if files|length > 0 %}
		<!-- Table -->
			{% for file, modified in files.iteritems() %}
			<tr>
				<td>{{ file }}</td>
				<td>{{ modified }}</td>
			</tr>
			{% endfor %}
		{% else %}
			<tr>
				<td colspan="2">The collection is empty.</td>
			</tr>
		{% endif %}
		</tbody>
	</table>

	<a href="/admin/download/{{collection.user_id}}/{{collection.name}}" class="btn btn-default">Download raw dataset</a>
	<a href="" class="btn btn-default">Upload processed dataset</a>

</div>

{% endblock %}