{% extends "layout.html" %}  

{% block HTMLtitle %}
<title>Internet Neurocinematics Database</title>
{% endblock %}

{% block content %}
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
 </script>

<div class="jumbotron index_jumbotron">
	<div class="container">

		<h3 id="sub_title">Welcome to the</h3>
		<h1>Internet Neurocinematics Database</h1>

		<form action="{{ url_for('home.search') }}" method="GET" enctype="multipart/form-data">
			<div class="input-group">
				<input type="text" class="form-control input-lg" name="movie" placeholder="Search for movie name (e.g: The Avengers)" required>
				<span class="input-group-btn">
	      	<button class="btn btn-primary btn-lg" type="submit" name="action">Search</button>
	      </span>
			</div>
		</form>
		<p class="index_help"><a href="">Not sure where to start?</a></p>
	</div>
</div>

<div class="container body_container">
</div>
{% endblock %}