{% extends "layout.html" %}  

{% block HTMLtitle %}
<title>Internet Neurocinematics Database</title>
{% endblock %}

{% block content %}
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
 </script>

<div id="banner">
	<h3 id = "sub_title" class = "header">Welcome to the...</h3>
	<h1 id = "heading" class="header">Internet Neurocinematics Database</h1>
	<form class="form-inline" style="text-align:center;margin-top:30px" action="{{ url_for('home.search') }}" method="GET" enctype="multipart/form-data">
		<div class="form-group">
			<div class="input-group">
				<input type="text" class="form-control input-lg" id="formGroupInputLarge" name="movie" placeholder="Search for movie name (e.g : The Avengers)" style="width:50vw" required>
			</div>
		</div>
		<button type="button" class="btn btn-primary btn-lg">search</button>
	</form>
	<p class="sub_banner">Not sure where to start?</a>
	</p>
</div>
{% endblock %}